body, html {
  background-image: -moz-linear-gradient( 0deg , rgba(203, 201, 215, 1) 0%, rgba(237, 234, 252, 1) 51%, rgba(203, 201, 215, 1) 100%, rgba(203, 201, 215, 1) 100%);
  background-image: -webkit-linear-gradient( 0deg , rgba(203, 201, 215, 1) 0%, rgba(237, 234, 252, 1) 51%, rgba(203, 201, 215, 1) 100%, rgba(203, 201, 215, 1) 100%);
  background-image: -o-linear-gradient( 0deg , rgba(203, 201, 215, 1) 0%, rgba(237, 234, 252, 1) 51%, rgba(203, 201, 215, 1) 100%, rgba(203, 201, 215, 1) 100%);
  background-image: -ms-linear-gradient( 0deg , rgba(203, 201, 215, 1) 0%, rgba(237, 234, 252, 1) 51%, rgba(203, 201, 215, 1) 100%, rgba(203, 201, 215, 1) 100%);
  background-color: #f7f7f7;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 20px;
  font-family: arial;
}

a {
  color: #487b31;
}

h1, h2, h3, h4, h5 {
  color: rgba(0,0,0,.8);
}

h2 {
  border-bottom: 5px solid rgba(0,0,0,.8);
}

input[type="button"], input[type="submit"], button {
  font-size: 20px;
  margin: 5px;
  border: 2px solid #2E4D1F;
  outline: none;
  background-image: -moz-linear-gradient( 90deg , rgba(72, 123, 49, 1) 0%, rgba(146, 235, 95, 1) 100%);
  background-image: -webkit-linear-gradient( 90deg , rgba(72, 123, 49, 1) 0%, rgba(146, 235, 95, 1) 100%);
  background-image: -o-linear-gradient( 90deg , rgba(72, 123, 49, 1) 0%, rgba(146, 235, 95, 1) 100%);
  background-image: -ms-linear-gradient( 90deg , rgba(72, 123, 49, 1) 0%, rgba(146, 235, 95, 1) 100%);
  background-color: #487b31;
  color: white;
  text-shadow: 1px 1px #555;
  border-radius: 10px;
  padding: 10px;
}

input[type="button"]:active, input[type="submit"]:active, button:active {
  background-image: -moz-linear-gradient( 90deg , rgba(72, 123, 49, 1) 0%, rgba(33, 56, 22, 1) 100%);
  background-image: -webkit-linear-gradient( 90deg , rgba(72, 123, 49, 1) 0%, rgba(33, 56, 22, 1) 100%);
  background-image: -o-linear-gradient( 90deg , rgba(72, 123, 49, 1) 0%, rgba(33, 56, 22, 1) 100%);
  background-image: -ms-linear-gradient( 90deg , rgba(72, 123, 49, 1) 0%, rgba(33, 56, 22, 1) 100%);
  background-color: #2E4D1F;
}

header {
  background: rgba(0,0,0,.8);
  color: white;
  display: block;
  padding: 10px 0;
}

.container {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

footer {
  text-align: center;
  color: rgba(0,0,0,.8);
  padding: 10px 5px;
  margin: 100px auto 10px auto;
  width: 1000px;
  max-width: 100%;
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

footer p {
  border-top: 5px solid #487b31;
}


/* Responsive */
@media mobile, (max-width: 1020px) {
  .container, footer {
    padding-left: 10px;
    padding-right: 10px;
  }
}